*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    width:100%;
    height:100vh;
    background-color: rgb(0, 0, 0);
}

p{
    color:white;
}

.container{
    width:100%;
    height:30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imageGrid{
    display:grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.imagecontainer{
    width:100%;
    display:flex;
    justify-content: center;
    width:100%;
}

img{
    width: 400px;
    height:400px; 
}
   
}

h1{
    font-size: 80px;;
    color:rgb(255, 255, 255);
    padding-bottom: 20px;
}
input{
    text-align: center;
    width:300px;
    height:40px;
}

.search{
    width:350px;

}
#random{
    margin-top: 20px;
    width:350px;
    text-align: left, 70%;
}

#randomImg{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#desc{
    padding-top:7px;
    font-size: 20px;
}
button{
    cursor: pointer;
    height:40px;
    background-color: white;
    font-weight: 700;
}
#myBtn{
    width:50px;
}



